---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Notice from "../../components/Notice.astro";
import Link from "../../components/Link.astro";

const posts = (await getCollection("blog"))
  .filter(
    (post) =>
      !post.data.archived &&
      (import.meta.env.MODE == "development" || !post.data.draft),
  )
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
  );

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=3600, stale-while-revalidate=1800",
);
---

<BaseLayout title="Andrew Kachnic - Blog" active="blog">
  <h1>My Blog</h1>

  <!-- <Notice kind="info"> -->
  <!--   <p> -->
  <!--     This page only contains my recent blog posts. For a complete list of all -->
  <!--     posts, visit the <Link href="/blog/archive/">archive</Link>. -->
  <!--   </p> -->
  <!-- </Notice> -->

  <section>
    <div class="grid md:grid-cols-2 gap-4">
      {
        posts.map((post) => {
          return (
            <article>
              <h2 class="text-2xl font-serif">
                <Link href={`/blog/${post.slug}/`}>{post.data.title}</Link>
              </h2>
              <span class="text-neutral-500">
                <FormattedDate date={post.data.pubDate} />
              </span>
              <p>{post.data.description}</p>
            </article>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
