---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Notice from "../../components/Notice.astro";
import Link from "../../components/Link.astro";

const posts = (await getCollection("blog")).filter(
  (post) => !post.data.archived,
);

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=3600, stale-while-revalidate=1800",
);
---

<BaseLayout>
  <style>
    table {
      @apply min-w-full divide-y-2 divide-neutral-200 table-auto text-left;
    }

    table th {
      @apply px-4 py-2 font-bold;
    }

    table tbody {
      @apply divide-y divide-neutral-200;
    }

    table tr td {
      @apply px-4 py-2;
    }
  </style>

  <h1 class="text-5xl font-serif">My Blog</h1>

  <Notice kind="info">
    <p>
      This page only contains my recent blog posts. For a complete list of all
      posts, visit the <Link href="/blog/archive/">archive</Link>.
    </p>
  </Notice>

  <section>
    <div class="grid grid-cols-2 gap-4">
      {
        posts.map((post) => {
          return (
            <article>
              <h2 class="text-2xl font-serif">
                <Link href={`/blog/${post.slug}/`}>{post.data.title}</Link>
              </h2>
              <p class="text-neutral-500">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <p>{post.data.description}</p>
            </article>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
