@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.02em;
}

body {
  @apply text-neutral-700 font-sans m-auto p-5 max-w-3xl bg-white text-sm 2xl:text-md;
}

.dark body {
  @apply text-neutral-400 font-sans m-auto p-5 max-w-3xl bg-neutral-900 text-sm;
}

body.trans {
  transition-duration: 500ms !important;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  @apply font-serif text-neutral-900;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark strong,
b.dark {
  @apply text-neutral-200;
}
