---
import Link from "../components/Link.astro";
import Project from "../components/Project.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";

const projects = [
  {
    name: "nectar",
    description:
      "Framework for building realtime audio plugins (VSTs) with Zig. Alternative to DISTRHO, JUCE and iPlug2.",
    href: "https://github.com/ajkachnic/nectar",
  },
  {
    name: "thismusicdoesnotexist",
    description:
      "An experiment into generative music, which procedurally generates lofi beats.",
    href: "https://thismusicdoesnotexist.vercel.app/",
  },
  {
    name: "zebra",
    description:
      "Minimalist programming language focusing on elegance, correctness, and readability.",
  },
  {
    name: "nullish.space",
    href: "https://github.com/ajkachnic/nullishspace",
    description:
      "Personal website and blog, built with Astro, UnoCSS, TypeScript, and GhostCMS.",
  },
  {
    name: "stacc analytics",
    description:
      "Privacy conscious analytics platform, built with a friend during a hackathon.",
  },
  {
    name: "punct",
    description:
      "Novel email client targetting great UX (collaborate with a friend)",
    href: "https://punct.app",
  },
  {
    name: "fontfind",
    description:
      "Tool for finding interesting fonts, using a recommendation engine.",
  },
  {
    name: "stream",
    description:
      "Tiny write-only one-user Twitter clone, built with Bun, SQLite, Kysely, and ElysiaJS",
  },
];
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1 class="text-5xl font-serif mt-10 mb-4 2xl:text-6xl">Andrew Kachnic</h1>
  <ul class="my-4 list-none p-0">
    <li>
      Building software for <strong>humans.</strong>
    </li>
    <li>
      Experimenting with <em>novel interfaces.</em>
    </li>
    <li>Obsessed with performance.</li>
  </ul>

  <section>
    <h2 class="text-2xl font-300 mt-12 mb-2 font-serif py-0">Projects</h2>

    <div class="grid grid-cols-2 2xl:grid-cols-3 gap-2">
      {projects.map((project) => <Project {...project} />)}
    </div>
  </section>
</BaseLayout>
