---
import Link from "./Link.astro";
const today = new Date();
---

<footer class="font-serif tracking-tight pt-16 pb-4 text-center">
  <p>
    If you'd like to get in touch with me, email me at
    <Link class="font-bold" href="mailto:hey@nullish.space">
      hey@nullish.space
    </Link>
  </p>
  <p>
    &copy; {today.getFullYear()} Andrew Kachnic. All rights reserved.
  </p>
</footer>
