---
import Link from "./Link.astro";
import { SITE_TITLE } from "../consts";
import ThemeSwitch from "./ThemeSwitch";

export interface Props {
  active?: "home" | "blog" | "rants" | "about";
}

const { active } = Astro.props;

const activeStyles = "tracking-tight font-500 text-black dark:text-neutral-100";
---

<header>
  <nav class="flex gap-4 font-sans mt-6 mb-12 items-center">
    <Link
      href="/"
      underline={false}
      class={active == "home" ? activeStyles : ""}
    >
      home
    </Link>
    <Link
      href="/blog"
      underline={false}
      class={active == "blog" ? activeStyles : ""}
    >
      blog
    </Link>
    <Link
      href="/about"
      underline={false}
      class={active == "about" ? activeStyles : ""}
    >
      about
    </Link>
    <Link href="https://github.com/ajkachnic" underline={false}>github</Link>
    <ThemeSwitch client:load />
  </nav>
</header>
