---
import Link from "./Link.astro";
import { SITE_TITLE } from "../consts";
import ThemeSwitch from "./ThemeSwitch";

export interface Props {
  active?: "home" | "blog" | "rants" | "about";
}

const { active } = Astro.props;

const activeStyles = "!text-neutral-900 dark:!text-neutral-100";
---

<header>
  <nav class="flex gap-4 font-sans mt-6 mb-12">
    <Link href="/" class={active == "home" ? activeStyles : ""}>home</Link>
    <Link href="/blog" class={active == "blog" ? activeStyles : ""}>blog</Link>
    <Link href="/rants" class={active == "rants" ? activeStyles : ""}>
      rants
    </Link>
    <Link href="/about" class={active == "about" ? activeStyles : ""}>
      about
    </Link>
    <Link href="https://github.com/ajkachnic">github</Link>
    <ThemeSwitch client:visible />
  </nav>
</header>
