---
import Link from "./Link.astro";

export interface Props {
  name: string;
  description: string;
  href?: string;
  tags?: string[];
}

const { href, name, description, tags } = Astro.props;
---

<div class="font-sans text-sm space-y-1 2xl:text-md">
  <div class="flex flex-row items-center justify-between">
    <h3 class="font-medium text-md my-1 2xl:text-lg flex-start dark:text-neutral-300 text-neutral-900">
      {href ? <Link href={href} class="dark:text-neutral-300 text-neutral-900">{name}</Link> : name}
    </h3>
    <div class="flex gap-2 ">
      {
        tags &&
          tags.map((tag: string) => (
            <div class="py-0.25 px-2 bg-neutral-200 text-neutral-600 dark:(bg-neutral-900 text-neutral-400) rounded-md select-none">
              {tag}
            </div>
          ))
      }
    </div>
  </div>
  <p class="">
    {description}
  </p>
</div>
