---
import Link from "./Link.astro";

type Props = {
  name: string;
  description: string;
  href?: string;
};

const { href, name, description } = Astro.props;
---

<div>
  <h3 class="font-medium font-sans">
    {href ? <Link href={href}>{name}</Link> : name}
  </h3>
  <p>
    {description}
  </p>
</div>
