---
import "@fontsource/instrument-serif";

import BaseHead from "../components/BaseHead.astro";
import Header, { Props as HeaderProps } from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  active?: HeaderProps["active"];
}

const { title, description, active } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header active={active} />
    <main>
      <slot />
    </main>

    <Footer />

    <!-- Don't move the order here - the script has to execute before the CSS loads -->
    <!-- Otherwise, there's a flash of white when dark theme is enabled -->
    <script is:inline>
      const theme = (() => {
        if (localStorage?.getItem("theme")) {
          return localStorage.getItem("theme");
        }

        return window.matchMedia("(prefers-color-scheme:dark").matches
          ? "dark"
          : "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      window.localStorage.setItem("theme", theme);

      // We don't want transitions on load, but it's okay on subsequent changes to theme
      setTimeout(() => {
        document.body.classList.add("trans");
      }, 1000);
    </script>
    <style is:global>
      @import "../styles/global.css";
      @import "../styles/equity.css";
      @import "https://use.typekit.net/uyp7yvo.css";
    </style>
  </body>
</html>
